.App {
  background-color: white;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 1240px;
  top: 25px;
  height: 64px;
  left: 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.login {
  padding: 8px 15px;
  border: none;
  background-color: #d4f4dc; /* Green background */
  color: #027a48; /* Green text */
  border-radius: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 132px;
  position: absolute;
  margin: 0 20px;
}

.search-input {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 600px;
}
.search-input input {
  flex: 1;
  padding: 10px 10px;
  font-size: 13px;
  border: none;
  outline: none;
}
.search-input .icon {
  background-color: #fba100; /* Pink button */
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
