.App {
  background-color: white;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 1240px;
  top: 25px;
  height: 64px;
  left: 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.login {
  padding: 8px 15px;
  border: none;
  background-color: #d4f4dc; /* Green background */
  color: #027a48; /* Green text */
  border-radius: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 132px;
  position: absolute;
  margin: 0 70px;
  gap: 120px;
}
.hero-text {
  width: 500px;
}
.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
}
.hero-text h1 span {
  color: #027a48;
}
.search-input {
  display: flex;
  border-radius: 50px;
  border: 1px #e5e5e5;
  height: 48px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 532px;
}
.search-input input {
  flex: 1;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  outline: none;
}
.search-input input::placeholder {
  color: #9b9b9b;
  font-weight: 400;
}
.search-input .icon {
  background-color: #027a48; /* Pink button */
  color: white;
  font-size: 16px;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
}

.hero-text-2 {
  margin: 50px auto;
}
.hero-text-2 p {
  font-size: 16px;
  font-weight: 600px;
  line-height: 24px;
  color: #3f403f;
}
.hero-img {
  display: flex;
}
.hero-img img {
  width: 156px;
  height: 33px;
  object-fit: contain;
}

.recommend {
  margin: 40px 55px;
}

.job-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.job {
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
}
.time {
  font-size: 12px;
  line-height: 17px;
  color: #9b9b9b;
  background-color: #cac9c9a4;
  padding: 4px 9px;
  border-radius: 50px;
  display: flex;
  justify-self: right;
  width: 52px;
}
.image {
  height: 31px;
  width: 166px;
  object-fit: contain;
}
.position {
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
}
.location-status {
  display: flex;
  justify-content: space-between;
}
.location-status .location {
  font-size: 16px;
  line-height: 24px;
}
.company {
  font-size: 18px;
  line-height: 36px;
  font-weight: 600;
  text-align: center;
}
.location-status .status {
  font-size: 12px;
  line-height: 18px;
  color: #06942a;
  background-color: #d4f4dc;
  border-radius: 50px;
  padding: 3px 9px;
  display: flex;
  align-items: center;
}

.work {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 150px 70px;
  gap: 70px;
}
.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.vertical_image {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.work_detail {
  margin-top: 40px;
}
.work_details h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
}
.work_detail h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 27px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.categories {
  margin: 20px 50px;
}
.categories h3 {
  font-size: 36px;
  line-height: 41px;
  font-weight: 700;
  text-align: center;
  margin: 30px auto;
}
.category {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 20px;
}
.sector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 275px;
  border: 1px solid #e5e5e5;
  border-radius: 15px;
}
.position {
  font-size: 21px;
  font-weight: 500;
  line-height: 31px;
}
.number {
  font-size: 14px;
  line-height: 21px;
  color: #9b9b9b;
}
.network_section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 120px;
  background-color: #f5f8f6;
}
.network_text {
  max-width: 50%;
}
.network_text h2 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
.network_text .p {
  margin: 30px auto;
}
.learn-more {
  font-size: 16px;
  color: #2b8a3e;
  text-decoration: none;
  font-weight: bold;
}

.learn-more:hover {
  text-decoration: underline;
}

.logos_section {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 20px;
  justify-content: center;
}

.logo-item {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-item img {
  max-width: 70%;
  max-height: 70%;
}
.customer_section {
  margin: 30px 150px;
}
.customer_section h2 {
  font-size: 36px;
  line-height: 54px;
  margin: 20px auto;
}
.customer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px auto;
}
.customer_texts {
  width: 60%;
}
.customer_texts h4 {
  margin-top: 30px;
  font-size: 21px;
}
.customer_texts p {
  margin-top: 50px;
}
.customer_texts .tex {
  color: #9b9b9b;
  font-size: 21px;
  line-height: 23px;
  margin-top: -10px;
}
.customer_images {
  position: relative;
}
.arrows {
  float: right;
}
.quotes {
  position: absolute;
  top: 20px;
}
